@import '../styles/variables';

.container {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.paragraph {
  width: 504px;
  @media (max-width: $mobile-max) {
    width: 100%;
  }
}
