@import './variables';

html, body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif;
  background-color: $background-color;
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  text-align: center;
  @media (max-width: $mobile-max) {
    font-size: 42px;
  }
  color: #1F1F1F;
  margin: 15px 0;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 32px;
  @media (max-width: $mobile-max) {
    font-size: 24px;
  }
  color: #1F1F1F;
}

.caption {
  font-size: $caption-font-size;
  color: $caption-color;
  margin-bottom: 32px;
  width: 504px;
  line-height: 1.77;
  @media (max-width: $mobile-max) {
    width: 100%;
  }
}

p {
  color: #1F1F1F;
  font-size: 18px;
  line-height: 1.77;
  margin-bottom: 32px;
}


a {
  color: $theme-purple;
  text-decoration: none;
  border-bottom: 1px solid #AA3863;
  padding-bottom: 1px;
  &:hover {
    padding-bottom: 0px;
    border-bottom-width: 2px;
  }
}
